<% if object.errors.any? %>
  <div class="error_messages">
    <p>You have <%= pluralize(object.errors.count, 'error')%></p>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
 <% end %>