<%= form_for [@project,@ticket] do |f| %> 
  <%= render "shared/errors", object: f.object %>
  <%= f.label :title %>
  <%= f.text_field :title %>
 
  <%= f.label :description %>
  <%= f.text_area :description %>
 
  <%= f.submit %>
<% end %>

