<%= provide(:title, " Ticket #{@ticket.id}") %>

<section class="ticket_details">
  <h2><%= @ticket.title %></h2>
  <p><%= @ticket.description %></p>  
  <%= link_to "Edit Ticket", edit_project_ticket_path(@project, @ticket) %>
  <%= link_to "Delete Ticket", project_ticket_path(@project, @ticket), method: :delete, confirm: "Are you sure you want to delete ticket" %>
</section>

