<%= form_for @project do |f| %> 
  <% if @project.errors.any? %>
    <div class="error_explanation">
      <p>You have <%= pluralize(@project.errors.count, "error")%></p>
      <ul>
        <% @project.errors.full_messages.each do |message| %> 
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 
  <%= f.label :title %> 
  <%= f.text_field :title %> 

  <%= f.label :description %> 
  <%= f.text_field :description %> 

  <%= f.submit 'Edit Project' %> 

<% end %>