<%= content_for :title do %>
  Projects
<% end %> 

<h1 class="text-center page_title">Projects</h1>

<table class="table project_list table-bordered">
  <thead>
  </thead>
  <tbody>
    <% @projects.each do |p| %>
    <tr>
      <td class="one show"><%= link_to p.title,project_path(p) %></td>
      <td class="two edit"><%= link_to "Edit", edit_project_path(p)%></td>
      <td class="three delete"><%= link_to "Delete", project_path(p), method: :delete, data: {confirm: "Are you sure you won't to destroy project?"} %></td> 
    </tr>
    <% end %> 
  </tbody>
</table>

<%= link_to 'New Project', new_project_path %> 
 
