<%= provide(:title, "Project #{@project.id}")%>
<h1>Projects#show</h1>
<ul id="tickets">
  <%= @project.tickets.each do |ticket| %> 
    <li><%= link_to ticket.title, project_ticket_path(@project,ticket) %></li>
  <% end %>  
</ul>

<%= link_to "Create Ticket", new_project_ticket_path(@project.id) %>
