// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page_title{
  margin: 40px 0;
  font: bold 2em monospace;
}

table.project_list{
  width: 50%;
  margin: 20px auto;
}