<!DOCTYPE html>
<html>
<head>
  <title><%= page_title(yield :title)%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |f_type, f_message| %>
  <%= content_tag(:div, f_message, class: f_type) %> 
<% end %> 
<%= yield %>

</body>
</html>
